@model Booking

@{
    ViewData["UseTextDark"] = true;
}

<div class="container pt-4 mt-0 mt-lg-4">
    <div class="row">

        <div class="col-12 col-lg-7 p-4 2 mt-4 mt-md-0">
            <div class="row p-1 my-1 " style="border-radius:20px; ">
                <div class="col-6">
                    <h3 class="text-dark">Информация</h3>
                </div>
                <div class="text-end col-6 ">
                    <a asp-controller="Booking" asp-action="Index" asp-route-status="@StaticDetails.StatusApproved"
                    class="btn btn-sm btn-outline-danger" style="width:200px;">
                        <i class="bi bi-arrow-left-square"></i> &nbsp; Назад
                    </a>
                </div>
                <hr />
                <partial name="_HotelDetails" model="@Model.Hotel" />
                <hr />
                <div class="text-end">
                    <h4 class="text-dark font-weight-bold ">
                        Стоимость :
                        <span>
                            @Model.TotalCost.ToString("c")
                        </span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5 p-4 2 mt-4 mt-md-0" style="border-left:1px solid #aaa">
            <form method="post">
                <input asp-for="HotelId" hidden />
                <input asp-for="UserId" hidden />
                <input asp-for="NumberOfNights" hidden />
                <input asp-for="Status" hidden />
                <input asp-for="BookingDate" hidden />
                <input asp-for="CheckInDate" hidden />
                <input asp-for="ActualCheckInDate" hidden />
                <input asp-for="CheckOutDate" hidden />
                <input asp-for="ActualCheckOutDate" hidden />
                <input asp-for="StripeSessionId" hidden />
                <input asp-for="StripePaymentIntentId" hidden />
                <input asp-for="PaymentDate" hidden />
                <div class="row pt-1 mb-3 " style="border-radius:20px; ">
                    <div class="col-6">
                        <h3 class="text-dark">Детали бронирования</h3>
                    </div>
                    <div class="col-6">
                        @if((Model.Status == StaticDetails.StatusApproved ||
                         Model.Status == StaticDetails.StatusPending) && User.IsInRole(StaticDetails.AdminRole))
                        {
                            <button type="submit" class="btn btn-sm btn-outline-danger form-control my-1">
                                <i class="bi bi-x-circle"></i> &nbsp; Отменить Бронирование
                            </button>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group pt-0 col-6">
                        <label asp-for="Name" class="text-dark"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="PhoneNumber" class="text-dark"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-0 col-6">
                        <label asp-for="Email" class="text-dark"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="NumberOfNights" class="text-dark"></label>
                        <input asp-for="NumberOfNights" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-0 col-6">
                        <label asp-for="Status" class="text-dark"></label>
                        <input asp-for="Status" disabled class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="BookingDate" class="text-dark"></label>
                        <input asp-for="BookingDate" disabled value="@Model.BookingDate.ToString("dd.MM.yyyy")" class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="CheckInDate" class="text-dark"></label>
                        <input asp-for="CheckInDate" disabled value="@Model.CheckInDate.ToString("dd.MM.yyyy")" class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="ActualCheckInDate" class="text-dark"></label>
                        <input asp-for="ActualCheckInDate" disabled value="@Model.ActualCheckInDate.ToString("dd.MM.yyyy")" class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="CheckOutDate" class="text-dark"></label>
                        <input asp-for="CheckOutDate" disabled value="@Model.CheckOutDate.ToString("dd.MM.yyyy")" class="form-control" />
                    </div>
                    <div class="form-group pt-2 col-6">
                        <label asp-for="ActualCheckOutDate" class="text-dark"></label>
                        <input asp-for="ActualCheckOutDate" disabled value="@Model.ActualCheckOutDate.ToString("dd.MM.yyyy")" class="form-control" />
                    </div>
                    @if (Model.IsPaymentSuccessful && User.IsInRole(StaticDetails.AdminRole))
                    {
                        <div class="form-group pt-2 col-6">
                            <label asp-for="StripeSessionId" class="text-dark"></label>
                            <input asp-for="StripeSessionId" disabled class="form-control" />
                        </div>
                        <div class="form-group pt-2 col-6">
                            <label asp-for="StripePaymentIntentId" class="text-dark"></label>
                            <input asp-for="StripePaymentIntentId" disabled class="form-control" />
                        </div>
                        <div class="form-group pt-2 col-6">
                            <label asp-for="PaymentDate" class="text-dark"></label>
                            <input asp-for="PaymentDate" disabled class="form-control" />
                        </div>
                    }
                </div>

                <div class="form-group pt-2 pt-md-4">
                    @if(User.IsInRole(StaticDetails.AdminRole))
                    {
                        if (Model.Status == StaticDetails.StatusApproved)
                        {
                            <button type="submit" class="btn btn-info form-control my-1">
                                <i class="bi bi-check2-square"></i> &nbsp; Заселить
                            </button>
                        }
                        else if (Model.Status == StaticDetails.StatusCheckedIn)
                        {
                            <button type="submit" class="btn btn-info form-control my-1">
                                <i class="bi bi-clipboard2-check"></i> &nbsp; Выселить / Завершить
                            </button>
                        }
                    }
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}